body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.swiminput {
    height: 400px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.swimoutput {
    height: 600px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.zoneinput {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.instructions {
    padding-top: 25px;
    margin-top: 25px;
    font-size: medium;
    font-weight: bold;
}

.medboldtext {
    font-size: medium;
    font-weight: bold;
}

.meterpool {
    font-size: medium;
    font-weight: bold;
}

.metricbox {
    height: 25px;
    width: 25px;
    margin-left: 25px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.poollengthinput {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

.poolsizeborder {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 130px;
}

.workoutdescborder {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.bold18 {
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
}

.descbox {
    width: 805px;
    height: 45px;
}

.setnotes {
    width: 500px;
}

.numentry {
    width: 75px;
}

.readonlynumentry {
    width: 75px;
    background-color: lightgray;
}

.lapsentry {
    width: 75px;
}

.repsentry {
    width: 75px;
}

.settable{
    margin-bottom: 25px;
}

.totalyardslabel {
    width: 120px;
    font-size: 20px;
    font-weight: bold;
}

.totalmeterslabel {
    width: 135px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.speedselect {
    height: 23px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
